$white: #fff;
$black: #000;
$dark-green: #033d33;
$gold: #665638;
$green: #44d044;
$red: #e21a00;
$dark-gray: #0e1810;
$gray: #5a607fc3;
$dark-gray-2: #00000029;
$gray2: #707070;

// FONT

$fira-sans: "Fira Sans", sans-serif;
$poppins: "Poppins", sans-serif;
$momcake: "Momcake", sans-serif;
